body {
    color: #000; /* Black text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

canvas {
    border: 1px solid #000;
    width: 70vmin; /* 70% of the viewport width */
    height: 70vmin; /* 70% of the viewport height */
    max-width: 100%; /* Ensure it doesn't overflow */
    max-height: 100%; /* Ensure it doesn't overflow */
}
